<!DOCTYPE html>
<html dir="ltr" lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Luna, video monitoring, camera surveillance, cloud solution">
    <meta name="description" content="Luna is a powerful monitoring system.">
    <meta name="robots" content="noindex,nofollow">
    <title>Luna</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <!-- This page plugin CSS -->
    <link href="{% static 'assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <style type="text/css">
        #overlay{ 
          position: fixed;
          top: 0;
          z-index: 100;
          width: 100%;
          height:100%;
          display: none;
          background: rgba(0,0,0,0.6);
        }
        .cv-spinner {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;  
        }
        .spinner {
          width: 40px;
          height: 40px;
          border: 4px #ddd solid;
          border-top: 4px #2e93e6 solid;
          border-radius: 50%;
          animation: sp-anime 0.8s infinite linear;
        }
        @keyframes sp-anime {
          100% { 
            transform: rotate(360deg); 
          }
        }
        .is-hide{
          display:none;
        }
        #main-value tr{
            cursor: pointer;
        }
    </style>

    <div id="overlay">
      <div class="cv-spinner">
        <span class="spinner"></span>
      </div>
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- -------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------- -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- -------------------------------------------------------------- -->
    <div id="main-wrapper">
        <!-- -------------------------------------------------------------- -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- -------------------------------------------------------------- -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="{% url 'dashboard' %}">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="{% static 'assets/images/logo-icon.png' %}" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="{% static 'assets/images/logo-light-icon.png' %}" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <img src="{% static 'assets/images/logo-text.png' %}" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->
                            <img src="{% static 'assets/images/logo-light-text.png' %}" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav me-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a
                                class="nav-link sidebartoggler d-none d-md-block waves-effect waves-dark"
                                href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item d-none d-md-block search-box"> <a
                                class="nav-link d-none d-md-block waves-effect waves-dark" href="javascript:void(0)"><i
                                    class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> 
                                <a class="srh-btn"><i class="ti-close"></i></a> 
                                <a class="form-control text-center search" href="#">
                                    <i class="ti-search"></i> Search by keyword</a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <li class="nav-item ">
                            <a class="nav-link waves-effect waves-dark"  href="{% url 'logout' %}" aria-haspopup="true" aria-expanded="false"> LogOut <i class="mdi mdi-logout"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->

                    </ul>
                </div>
            </nav>
        </header>
        <!-- -------------------------------------------------------------- -->
        <!-- End Topbar header -->
        <!-- -------------------------------------------------------------- -->
        <!-- -------------------------------------------------------------- -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- -------------------------------------------------------------- -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'dashboard' %}" aria-expanded="false"><i class="mdi mdi-gauge"></i><span
                                    class="hide-menu">Dashboard</span></a></li>                        
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'shop' %}" aria-expanded="false"><i class="mdi mdi-home"></i><span
                                    class="hide-menu">Shop</span></a></li>           
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'machine' %}" aria-expanded="false"><i class="mdi mdi-washing-machine"></i><span
                                    class="hide-menu">Machine</span></a></li>          
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'unit' %}" aria-expanded="false"><i class="mdi mdi-table"></i><span
                                    class="hide-menu">Unit</span></a></li>          
                        <li class="sidebar-item selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="{% url 'data' %}" aria-expanded="false"><i class="mdi mdi-database"></i><span
                                    class="hide-menu">Data</span></a></li>     
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- -------------------------------------------------------------- -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- -------------------------------------------------------------- -->
        <!-- -------------------------------------------------------------- -->
        <!-- Page wrapper  -->
        <!-- -------------------------------------------------------------- -->
        <div class="page-wrapper">
            <!-- -------------------------------------------------------------- -->
            <!-- Container fluid  -->
            <!-- -------------------------------------------------------------- -->
            <div class="container-fluid">

                <div class="row mb-4">
                    <div class="col-md-4 col-12">
                        <div class="col-md-5 col-12 align-self-center mb-4">
                            <h3 class="text-themecolor mb-0">DATA</h3>
                        </div>
                    </div>

                    <div class="col-md-4 col-12">
                        <div class="input-group mb-3">
                            <button type="button" class="btn btn-info">
                                <i class="text-white"></i>Unit Search</button>
                            <input type="text" class="form-control unit">
                        </div>
                    </div>
                     <div class="col-md-4 col-12">
                        <div class="btn-group">
                            <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary" id="start">
                                 Scrap Start
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card card-body">
                    <p>Get Total <span class="total_data" style="color: red; font-weight: bolder;">0</span> rows</p>
                    <div class="table-responsive">
                        <table class="table search-table v-middle">
                            <thead class="header-item">
                                <th>No.</th>
                                <th>shop</th>
                                <th>machine</th>
                                <th>unit</th>
                                <th>ps</th>
                                <th>most_bonus</th>
                                <th>probability</th>
                                <th>BB_probability</th>
                                <th>RB_probability</th>
                                <th>cumulative_start</th>
                                <th>yesterday_start</th>
                                <th>first_hit</th>                            
                                <th>last_value</th>                            
                                <th>date</th>
                            </thead>
                            <tbody id="main-value"></tbody>

                        </table>
                    </div>
                

                <style type="text/css">
                
                    #pagination-demo{
                        display: inline-block;
                        margin-bottom: 1.75em;
                        text-align: right;
                        margin-right: 1.75em;
                    }
                    #pagination-demo li{
                        display: inline-block;
                    }

                    .page-content{
                        background: #eee;
                        display: inline-block;
                        padding: 10px;
                        width: 100%;
                        max-width: 660px;
                    }

                    .pagination {
                        border-top: 0px solid #e3e3e3 !important;
                        border-bottom: 0px solid #e3e3e3 !important;
                    }

                    .pagination .next, .pagination .prev, .pagination .first, .pagination .last {
                        position: unset !important;
                    }

                </style>

                <ul id="pagination-demo" class="pagination-sm"></ul>

                
                </div>


            </div>

            <!-- Share Modal -->
            <div class="modal fade" id="Sharemodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header d-flex align-items-center">
                                <h5 class="modal-title" id="exampleModalLabel"><i class="mdi mdi-file me-2"></i>
                                    Unit <span id="unit-name" style="color:blue;">3520</span></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <table class="table search-table v-middle">
                                        <thead>
                                          <th>大当たり</th>
                                          <th>スタート</th>
                                          <th>出玉</th>
                                          <th>種別</th>
                                          <th>時間</th>
                                        </thead>
                                        <tbody id="sub-value">                                            
                                        </tbody>
                                    </table>
                                </div>                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- -------------------------------------------------------------- -->
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- End Page wrapper  -->
        <!-- -------------------------------------------------------------- -->
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- End Wrapper -->
    <!-- -------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------- -->
    <!-- customizer Panel -->
    <!-- -------------------------------------------------------------- -->
    <aside class="customizer">
        <a href="javascript:void(0)" class="service-panel-toggle"><i class="fa fa-spin fa-cog"></i></a>
        <div class="customizer-body">
            <div class="tab-content" id="pills-tabContent">
                <!-- Tab 1 -->
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="p-3 border-bottom">
                        <!-- Sidebar -->
                        <h5 class="font-weight-medium mb-2 mt-2">Layout Settings</h5>
                        <div class="form-check mt-3">
                            <input type="checkbox" name="theme-view" class="form-check-input" id="theme-view">
                            <label class="form-check-label" for="theme-view"> <span>Dark Theme</span> </label>
                        </div>
                        <div class="form-check mt-2">
                            <input type="checkbox" class="sidebartoggler form-check-input" name="collapssidebar"
                                id="collapssidebar">
                            <label class="form-check-label" for="collapssidebar"> <span>Collapse Sidebar</span> </label>
                        </div>
                        <div class="form-check mt-2">
                            <input type="checkbox" name="sidebar-position" class="form-check-input"
                                id="sidebar-position">
                            <label class="form-check-label" for="sidebar-position"> <span>Fixed Sidebar</span> </label>
                        </div>
                        <div class="form-check mt-2">
                            <input type="checkbox" name="header-position" class="form-check-input" id="header-position">
                            <label class="form-check-label" for="header-position"> <span>Fixed Header</span> </label>
                        </div>
                        <div class="form-check mt-2">
                            <input type="checkbox" name="boxed-layout" class="form-check-input" id="boxed-layout">
                            <label class="form-check-label" for="boxed-layout"> <span>Boxed Layout</span> </label>
                        </div>
                    </div>
                    <div class="p-3 border-bottom">
                        <!-- Logo BG -->
                        <h5 class="font-weight-medium mb-2 mt-2">Logo Backgrounds</h5>
                        <ul class="theme-color m-0 p-0">
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-logobg="skin1"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-logobg="skin2"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-logobg="skin3"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-logobg="skin4"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-logobg="skin5"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-logobg="skin6"></a></li>
                        </ul>
                        <!-- Logo BG -->
                    </div>
                    <div class="p-3 border-bottom">
                        <!-- Navbar BG -->
                        <h5 class="font-weight-medium mb-2 mt-2">Navbar Backgrounds</h5>
                        <ul class="theme-color m-0 p-0">
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-navbarbg="skin1"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-navbarbg="skin2"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-navbarbg="skin3"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-navbarbg="skin4"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-navbarbg="skin5"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-navbarbg="skin6"></a></li>
                        </ul>
                        <!-- Navbar BG -->
                    </div>
                    <div class="p-3 border-bottom">
                        <!-- Logo BG -->
                        <h5 class="font-weight-medium mb-2 mt-2">Sidebar Backgrounds</h5>
                        <ul class="theme-color m-0 p-0">
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-sidebarbg="skin1"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-sidebarbg="skin2"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-sidebarbg="skin3"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-sidebarbg="skin4"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-sidebarbg="skin5"></a></li>
                            <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                    class="theme-link rounded-circle d-block" data-sidebarbg="skin6"></a></li>
                        </ul>
                        <!-- Logo BG -->
                    </div>
                </div>
                <!-- End Tab 1 -->
            </div>
        </div>
    </aside>
    <!-- -------------------------------------------------------------- -->
    <!-- All Jquery -->
    <!-- -------------------------------------------------------------- -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- apps -->
    <script src="{% static 'dist/js/app.min.js' %}"></script>
    <script src="{% static 'dist/js/app.init.js' %}"></script>
    <script src="{% static 'dist/js/app-style-switcher.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dist/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dist/js/feather.min.js' %}"></script>
    <script src="{% static 'dist/js/custom.min.js' %}"></script>
    <script src="{% static 'dist/js/jquery.twbsPagination.min.js' %}"></script>
    <!--This page plugins -->
    <!-- <script src="{% static 'dist/js/pages/contact/contact.js' %}"></script> -->

    <script type="text/javascript">
        
        var checkedItems = [];

        function roundToTwo(num) {   

            return +(Math.round(num + "e+2")  + "e-2");
        }


        function timestamp(ele){

            var table = $(ele).attr('table');
            if(table=='') table = [];
            else table = JSON.parse(table.replace(/'/g, '"'));            
        

            $("#unit-name").text($(ele).attr('unit'));
            $("#sub-value").empty();

            for(i in table){

                $("#sub-value").append('<tr>'+
                    '<td>'+table[i][0]+'</td>'+
                    '<td>'+table[i][1]+'</td>'+
                    '<td>'+table[i][2]+'</td>'+
                    '<td>'+table[i][3]+'</td>'+
                    '<td>'+table[i][4]+'</td>'+                    
                '</tr>')    
                    
            }
            $("#Sharemodel").modal('show');
        }



        $(function(){

            $(document).ajaxSend(function() {
                $("#overlay").fadeIn(300);　
            });            
            
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                }
            });


            function getUnit(unit,page){

                $.get("{% url 'getData' %}",{unit:unit,page:page},function(res){

                    $("#overlay").fadeOut(300);
                    $("#main-value").empty();
                    for(index in res['data'])
                    {
                        id = res['data'][index]['id'];
                        shop = res['data'][index]['shop'];
                        machine = res['data'][index]['machine'];
                        unit = res['data'][index]['unit'];
                        ps = res['data'][index]['ps'];
                        url = res['data'][index]['url'];

                        most_bonus = res['data'][index]['most_bonus'];
                        probability = res['data'][index]['probability'];                        
                        BB_probability = res['data'][index]['BB_probability'];
                        RB_probability = res['data'][index]['RB_probability'];
                        cumulative_start = res['data'][index]['cumulative_start'];
                        yesterday_start = res['data'][index]['yesterday_start'];
                        graph = res['data'][index]['graph'];
                        last_value = res['data'][index]['last_value'];
                        table = res['data'][index]['table'];
                        regDT = new Date(res['data'][index]['created_at']).toISOString().slice(0,10);
                        // url = url + "&target_date="+regDT+"&gd=0";
                        
                        $("#main-value").append('<tr class="search-items" id="'+id+'" table="'+table+'" unit="'+unit+'" onclick="timestamp(this)"><td>'+ (parseInt(index) + 1 + (parseInt(page)-1)*100) +'</td><td>'+shop+'</td><td>'+machine+'</td><td><span class="usr-location" data-location="Boston, USA"><a href="'+url+'" target="_blank">'+unit+'</a></span></td><td><span class="usr-location" data-location="Boston, USA">'+ps+'</span></td><td>'+most_bonus+'</td><td>'+probability+'</td><td>'+BB_probability+'</td><td>'+RB_probability+'</td><td>'+cumulative_start+'</td><td>'+yesterday_start+'</td><td>'+roundToTwo(graph)+'</td><td>'+roundToTwo(last_value)+'</td><td><span class="usr-location" data-location="Boston, USA">'+regDT+'</span></td></tr>');
                    }

                    total_data = parseInt(res['total_data']);

                    $(".total_data").text(total_data);
                    totalPages = total_data%100 == 0 ? total_data/100 : total_data/100 + 1;
                    if(totalPages==0) totalPages=1;
                    
                    $('#pagination-demo').twbsPagination('destroy');
                    $('#pagination-demo').twbsPagination({
                        initiateStartPageClick: false,
                        totalPages: totalPages,
                        visiblePages: 5,
                        startPage:page,
                        next: '次へ',
                        prev: '前へ',
                        first:'<<',
                        last:'>>',
                        onPageClick: function (event, pg) {
                            
                            shop = $(".shop").val();
                            machine = $(".machine").val();
                            unit = $(".unit").val();
                            page = pg;
                            getUnit(unit,page);
                        }                     
                    });

                },"json");
            }

            function state_checker(){

                $.get("{% url 'checkScrap' %}",{mode:'unit'},function(res){

                        if(res=='yes') {

                            alert("All Done. It is available to Scrap now.");
                            $("#overlay").fadeOut(300);
                            
                        }else if(res=='yet') {

                            alert("Scraping now....");
                            $("#overlay").fadeOut(300);
                            
                        }
                    });

                setTimeout(state_checker, 60000);
            }

            var unit = $(".unit").val();
            var page = $(".page").val();

            $('.unit').keydown(function(event) {

                unit = $(this).val();
                machine = $(".machine").val();
                shop = $(".shop").val();
                page = 1;

                if (event.keyCode == 13) {
                    getUnit(unit,page);
                }
            });

            $("#start").click(function(){
                
                $.get("{% url 'startScrap' %}",function(res){
                    if(res=='started') {

                        alert("Started Scraping Shop! It will take some minutes");
                        
                    }else if(res=='yet') {

                        alert("Not Finish yet. Please try after some minutes.");
                        
                    }
                    
                    getUnit(unit,1);
                    $("#overlay").fadeOut(300);                
                });

            });

            getUnit(unit,1);
            state_checker();

        });







    </script>
</body>

</html>